@*@model IEnumerable<Boilerplate.Web.App.Models.Product>

    <h2>Display</h2>
    <div id="griddata" class="container">

    </div>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>


    <script type="text/babel">
        @* Here we will create 2 react component 1 for rows and another for table
        var EmployeeGridRow = React.createClass({
        render : function(){
        return (
        <tr>
            <td>{this.props.item.Name}</td>
            <td>{this.props.item.Price}</td>

        </tr>
        );
        }
        });

        var EmployeeGridTable = React.createClass({
        getInitialState: function(){
        return {
        items: []
        }
        },
        componentDidMount:function(){
        @* Fetch data via ajax
        $.get(this.props.dataUrl, function(data){
        if(this.isMounted()){
        this.setState({
        items: data
        });
        }
        }.bind(this));
        },
        render : function(){
        var rows = [];
        this.state.items.forEach(function(item){
        rows.push(<EmployeeGridRow key={item.ID} item={item} />);
        });
        return (
        <table className="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>

                </tr>
            </thead>
            <tbody>

                {rows}
            </tbody>
        </table>);
        }
        });
        ReactDOM.render(
        <EmployeeGridTable dataUrl="/Home/GetEmployeeData" />,
        document.getElementById('griddata')
        );
    </script>*@

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Getting Started</title>

    <meta charset="utf-8" />
</head>
<body>
    <div id="root"></div>
    <script type="text/javascript" src="~/dist/app.bundle.js"></script>


</body>
</html>